In [1]:
# Dependencies (just in case)
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
pd.__version__

'1.1.4'

In [3]:
# pd.set_option('min_rows', 100)
# pd.set_option('display.max_columns', None)

In [4]:
# Read in 2019 file
df_2019 = pd.read_csv('..//..//data/hospitals/2019-ed-pivot-table_20201013.csv')

# Fill in all blanks with 0 (for deep learning)
df_2019.fillna(0, inplace=True)
df_2019.dropna(inplace=True)

In [5]:
# Read in 2018 file
df_2018 = pd.read_csv('..//..//data/hospitals/2018-ed-pivot-table.csv')

# Fill in all blanks with 0 (for deep learning)
df_2018.fillna(0, inplace=True)
df_2018.dropna(inplace=True)

In [6]:
# Read in 2017 file
df_2017 = pd.read_csv('..//..//data/hospitals/2017-ed-pivot-table20180718.csv')

# Fill in all blanks with 0 (for deep learning)
df_2017.fillna(0, inplace=True)
df_2017.dropna(inplace=True)

In [7]:
# Read in 2016 file
df_2016 = pd.read_csv('..//..//data/hospitals/2016-ed-pivot-table_20181210.csv')

# Fill in all blanks with 0 (for deep learning)
df_2016.fillna(0, inplace=True)
df_2016.dropna(inplace=True)

In [8]:
# Read in 2015 file
df_2015 = pd.read_csv('..//..//data/hospitals/2015-emergency-department-pivot.csv')

# Fill in all blanks with 0 (for deep learning)
df_2015.fillna(0, inplace=True)
df_2015.dropna(inplace=True)

In [9]:
# Merge all files
all_df = df_2019.append([df_2018, df_2017, df_2016, df_2015], ignore_index=True)
df_1 = all_df.dropna(axis='columns')
df_1

,year,oshpd_id2,oshpd_id,DBA_ADDRESS1,DBA_CITY,DBA_ZIP_CODE,Sex_Female,Sex_Male,Sex_Unk,Age_01_09,...,a_Age_01_09,a_Age_Unknown,a_Medi_Cal,a_Medicare,a_Other_Payer,a_Private_Coverage,a_SelfPay,Inpatient_from_ED,a_English,a_Spanish
0,2019,106010735,10735,2070 Clinton Ave,Alameda,94501,7529.0,6273.0,2.0,484.0,...,0.0,0.0,509.0,1280.0,19.0,242.0,57.0,2107.0,1835.0,71.0
1,2019,106010739,10739,2450 Ashby Ave,Berkeley,94705,19379.0,14770.0,3.0,496.0,...,0.0,0.0,1295.0,2361.0,43.0,1364.0,117.0,5180.0,4737.0,235.0
2,2019,106010776,10776,747 52nd St,Oakland,94609,17385.0,19268.0,3.0,20931.0,...,2879.0,0.0,3097.0,10.0,1214.0,1489.0,204.0,6014.0,4400.0,1335.0
3,2019,106010846,10846,1411 E 31st St,Oakland,94602,28358.0,33217.0,12.0,932.0,...,0.0,0.0,3736.0,2758.0,66.0,1355.0,552.0,8467.0,6275.0,1466.0
4,2019,106010937,10937,350 Hawthorne Ave,Oakland,94609,19526.0,15368.0,0.0,212.0,...,0.0,0.0,2102.0,5017.0,152.0,1341.0,126.0,8738.0,7190.0,329.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1640,2015,106560525,560525,2975 NORTH SYCAMORE DRIVE,SIMI VALLEY,93065,16725.0,13401.0,4.0,4223.0,...,34.0,0.0,998.0,2792.0,66.0,1330.0,144.0,5331.0,5022.0,262.0
1641,2015,106560529,560529,1600 NORTH ROSE AVENUE,OXNARD,93030,28223.0,23997.0,0.0,8589.0,...,68.0,0.0,1483.0,3855.0,150.0,823.0,39.0,6350.0,4829.0,1451.0
1642,2015,106571086,571086,1325 COTTONWOOD STREET,WOODLAND,95695,11819.0,10008.0,0.0,2931.0,...,24.0,0.0,810.0,1146.0,44.0,406.0,26.0,2437.0,2154.0,228.0
1643,2015,106574010,574010,2000 SUTTER PLACE,DAVIS,95616,14751.0,11151.0,1.0,3205.0,...,0.0,0.0,323.0,990.0,17.0,326.0,30.0,1686.0,1446.0,184.0
1644,2015,106580996,580996,726 FOURTH ST,MARYSVILLE,95901,28994.0,23143.0,9.0,6411.0,...,0.0,0.0,2124.0,4357.0,200.0,779.0,76.0,7543.0,6647.0,424.0

In [17]:
# Merge last 3 years files
threeyear_df = df_2019.append([df_2018, df_2017], ignore_index=True)
df_3 = threeyear_df.dropna(axis='columns')
df_3

,year,oshpd_id2,oshpd_id,LICENSE_CATEGORY_DESC,DBA_ADDRESS1,DBA_CITY,DBA_ZIP_CODE,Sex_Female,Sex_Male,Sex_Unk,...,a_Medicare,a_Other_Payer,a_Private_Coverage,a_SelfPay,a_DX_Infections,a_DX_Symptoms,Inpatient_from_ED,a_All_Other_Languages,a_English,a_Spanish
0,2019,106010735,10735,General Acute Care Hospital,2070 Clinton Ave,Alameda,94501,7529.0,6273.0,2.0,...,1280.0,19.0,242.0,57.0,394.0,24.0,2107.0,199.0,1835.0,71.0
1,2019,106010739,10739,General Acute Care Hospital,2450 Ashby Ave,Berkeley,94705,19379.0,14770.0,3.0,...,2361.0,43.0,1364.0,117.0,1101.0,70.0,5180.0,193.0,4737.0,235.0
2,2019,106010776,10776,General Acute Care Hospital,747 52nd St,Oakland,94609,17385.0,19268.0,3.0,...,10.0,1214.0,1489.0,204.0,177.0,218.0,6014.0,249.0,4400.0,1335.0
3,2019,106010846,10846,General Acute Care Hospital,1411 E 31st St,Oakland,94602,28358.0,33217.0,12.0,...,2758.0,66.0,1355.0,552.0,774.0,140.0,8467.0,638.0,6275.0,1466.0
4,2019,106010937,10937,General Acute Care Hospital,350 Hawthorne Ave,Oakland,94609,19526.0,15368.0,0.0,...,5017.0,152.0,1341.0,126.0,1810.0,124.0,8738.0,1168.0,7190.0,329.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
986,2017,106560525,560525,General Acute Care Hospital,2975 SYCAMORE DRIVE,SIMI VALLEY,93065,16995.0,13673.0,1.0,...,3276.0,54.0,1327.0,130.0,703.0,421.0,5907.0,65.0,5483.0,359.0
987,2017,106560529,560529,General Acute Care Hospital,1600 NORTH ROSE AVENUE,OXNARD,93030,27582.0,24115.0,0.0,...,4433.0,143.0,897.0,79.0,1358.0,260.0,7331.0,136.0,5527.0,1668.0
988,2017,106571086,571086,General Acute Care Hospital,1325 COTTONWOOD STREET,WOODLAND,95695,12176.0,10388.0,3.0,...,1320.0,21.0,364.0,47.0,410.0,39.0,2583.0,73.0,2194.0,316.0
989,2017,106574010,574010,General Acute Care Hospital,2000 SUTTER PLACE,DAVIS,95616,15334.0,11404.0,0.0,...,1242.0,28.0,307.0,44.0,477.0,41.0,2052.0,70.0,1749.0,233.0
990,2017,106580996,580996,General Acute Care Hospital,726 FOURTH ST,MARYSVILLE,95901,34508.0,27347.0,2.0,...,4580.0,218.0,793.0,57.0,1125.0,273.0,8100.0,486.0,7235.0,379.0

In [23]:
# Output CSV for deep learning
# df_3.to_csv('..\\..\\data\hospitals\three_year_compare.csv', index=False)
df_3.to_csv('..//..//data/hospitals/three_year_compare.csv', index=False)